@font-face {
    font-family: pixelFont;
    src: url(../fonts/font.TTF);
}

body {
    background-color: black;
    color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

a, p {
    color: white;
    text-decoration: none;
    font-family: pixelFont;
}

.mainTitle {
    font-family: pixelFont;
    color: white;
    font-size: 10vw;
    margin-bottom: 50px;
    position: absolute;
    width: 100%;
    top: 10%;
}

.menu {
    text-align: center;
}

.menu-btn {
    display: block;
    padding: 10px;
    margin: 20px auto;
    font-size: 5vw;
    text-decoration: none;
}

.menu-choice {
    position: absolute;
    top: 60%;
    margin: auto;
    width: 100%;
}